.card-container {
  position: relative;
  cursor: pointer;
  width: 110px;
  height: 110px;

  .cover {
    border: 5px outset brown;
    border-radius: 5px;
    padding: 5px;
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: #84401e;
    transform: rotateX(0deg);
    transition: transform linear 0.3s;
    transition-delay: 0.3s;
  }

  .front {
    border: 5px outset brown;
    border-radius: 5px;
    padding: 5px;
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: #fff;
    transform: rotateX(90deg);
    transition: transform linear 0.3s;
  }

  .flipped {
    .cover {
      transform: rotateX(90deg);
      transition-delay: 0s;
      pointer-events: none;
    }

    .front {
      transform: rotateX(0deg);
      transition-delay: 0.3s;
      pointer-events: none;

      &.matched {
        background-color: rgb(29, 238, 29);
      }
    }
  }
}
